<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the articulo_cantidad_init() hook (in hooks/articulo_cantidad.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="articulo_cantidad-id_articulo-<%%VALUE(id)%%>" class="articulo_cantidad-id_articulo"><%%VALUE(id_articulo)%%></td>
		<td id="articulo_cantidad-nombe_articulo-<%%VALUE(id)%%>" class="articulo_cantidad-nombe_articulo"><%%VALUE(nombe_articulo)%%></td>
		<td id="articulo_cantidad-cantidad-<%%VALUE(id)%%>" class="articulo_cantidad-cantidad"><%%VALUE(cantidad)%%></td>
		<td id="articulo_cantidad-creado-<%%VALUE(id)%%>" class="articulo_cantidad-creado"><%%VALUE(creado)%%></td>
		<td id="articulo_cantidad-id_compra-<%%VALUE(id)%%>" class="articulo_cantidad-id_compra"><%%VALUE(id_compra)%%></td>
