<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: ID -->
		<div class="form-group articulos-id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(id)%%></div>
			</div>
		</div>
		<!-- Field: Nombre -->
		<div class="form-group articulos-nombre_unico" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Nombre</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(nombre_unico)%%></div>
			</div>
		</div>
		<!-- Field: Tipo de articulo -->
		<div class="form-group articulos-tipo_dispo" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Tipo de articulo</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="tipo_dispo<%%RND1%%>"><%%COMBOTEXT(tipo_dispo)%%></span></div>
			</div>
		</div>
		<!-- Field: Marca -->
		<div class="form-group articulos-marca" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Marca</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="marca<%%RND1%%>"><%%COMBOTEXT(marca)%%></span></div>
			</div>
		</div>
		<!-- Field: Modelo -->
		<div class="form-group articulos-modelo" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Modelo</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="modelo<%%RND1%%>"><%%COMBOTEXT(modelo)%%></span></div>
			</div>
		</div>
		<!-- Field: Presentacion -->
		<div class="form-group articulos-presentacion" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Presentacion</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="presentacion<%%RND1%%>"><%%COMBOTEXT(presentacion)%%></span></div>
			</div>
		</div>
		<!-- Field: Serial -->
		<div class="form-group articulos-serial" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Serial</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(serial)%%></div>
			</div>
		</div>
		<!-- Field: Referencia -->
		<div class="form-group articulos-referencia" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Referencia</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(referencia)%%></div>
			</div>
		</div>
		<!-- Field: Familia -->
		<div class="form-group articulos-familia" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Familia</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="familia<%%RND1%%>"><%%COMBOTEXT(familia)%%></span></div>
			</div>
		</div>
		<!-- Field: Codigo proveedor -->
		<div class="form-group articulos-codigo_proveedor" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Codigo proveedor</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="codigo_proveedor<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Caracteristicas -->
		<div class="form-group articulos-caracteristicas" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Caracteristicas</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(caracteristicas)%%></div>
			</div>
		</div>
		<!-- Field: Nota -->
		<div class="form-group articulos-nota" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Nota</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(nota)%%></div>
			</div>
		</div>
		<!-- Field: Imagen -->
		<div class="form-group articulos-imagen" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Imagen</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="imagen<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Estado -->
		<div class="form-group articulos-estado" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Estado</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="estado<%%RND1%%>"><%%COMBOTEXT(estado)%%></span></div>
			</div>
		</div>
		<!-- Field: Creado -->
		<div class="form-group articulos-creado" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Creado</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(creado)%%></div>
			</div>
		</div>
		<!-- Field: Creado por -->
		<div class="form-group articulos-creado_por" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Creado por</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(creado_por)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
<!-- child records -->
<div class="panel-body">
	<div id="articulos-children"></div>
</div>

<script>
	$j(function() {
		/* prevent loading child records in multiple DVP */
		if($j('[id=articulos-children]').length > 1) return;

		post(
			'parent-children.php', {
				ParentTable: 'articulos',
				SelectedID: '<%%VALUE(id)%%>',
				Operation: 'show-children-printable'
			},
			'articulos-children',
			'disable-element',
			'loading-element',
			apply_persisting_children
		);

		$j('form').on('click', '#children-tabs button[data-target]', function() {
			$j(this).toggleClass('active');
			persist_expanded_child($j(this).attr('id'));
		});
	})
</script>

