<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the articulo_categorias_init() hook (in hooks/articulo_categorias.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="articulo_categorias-articulo_categorias-<%%VALUE(id)%%>" class="articulo_categorias-articulo_categorias"><%%SELECT%%><%%VALUE(articulo_categorias)%%><%%ENDSELECT%%></td>
		<td id="articulo_categorias-descripcion-<%%VALUE(id)%%>" class="articulo_categorias-descripcion"><%%SELECT%%><%%VALUE(descripcion)%%><%%ENDSELECT%%></td>
