<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the cantidad_articulo_init() hook (in hooks/cantidad_articulo.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="cantidad_articulo-id_articulo-<%%VALUE(id)%%>" class="cantidad_articulo-id_articulo"><%%SELECT%%><%%VALUE(id_articulo)%%><%%ENDSELECT%%></td>
		<td id="cantidad_articulo-nombe_articulo-<%%VALUE(id)%%>" class="cantidad_articulo-nombe_articulo"><%%SELECT%%><%%VALUE(nombe_articulo)%%><%%ENDSELECT%%></td>
		<td id="cantidad_articulo-cantidad-<%%VALUE(id)%%>" class="cantidad_articulo-cantidad"><%%SELECT%%><%%VALUE(cantidad)%%><%%ENDSELECT%%></td>
		<td id="cantidad_articulo-id_compra-<%%VALUE(id)%%>" class="cantidad_articulo-id_compra"><%%SELECT%%><%%VALUE(id_compra)%%><%%ENDSELECT%%></td>
