<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the cantidad_insumo_init() hook (in hooks/cantidad_insumo.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="cantidad_insumo-nombre_insumo-<%%VALUE(id)%%>" class="cantidad_insumo-nombre_insumo"><%%SELECT%%><%%VALUE(nombre_insumo)%%><%%ENDSELECT%%></td>
		<td id="cantidad_insumo-descripcion-<%%VALUE(id)%%>" class="cantidad_insumo-descripcion"><%%SELECT%%><%%VALUE(descripcion)%%><%%ENDSELECT%%></td>
		<td id="cantidad_insumo-cantidad-<%%VALUE(id)%%>" class="cantidad_insumo-cantidad"><%%SELECT%%><%%VALUE(cantidad)%%><%%ENDSELECT%%></td>
		<td id="cantidad_insumo-creado-<%%VALUE(id)%%>" class="cantidad_insumo-creado"><%%SELECT%%><%%VALUE(creado)%%><%%ENDSELECT%%></td>
		<td id="cantidad_insumo-id_compra-<%%VALUE(id)%%>" class="cantidad_insumo-id_compra"><%%SELECT%%><%%VALUE(id_compra)%%><%%ENDSELECT%%></td>
