<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the cantidad_insumo_init() hook (in hooks/cantidad_insumo.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="cantidad_insumo-nombre_insumo-<%%VALUE(id)%%>" class="cantidad_insumo-nombre_insumo"><%%VALUE(nombre_insumo)%%></td>
		<td id="cantidad_insumo-descripcion-<%%VALUE(id)%%>" class="cantidad_insumo-descripcion"><%%VALUE(descripcion)%%></td>
		<td id="cantidad_insumo-cantidad-<%%VALUE(id)%%>" class="cantidad_insumo-cantidad"><%%VALUE(cantidad)%%></td>
		<td id="cantidad_insumo-creado-<%%VALUE(id)%%>" class="cantidad_insumo-creado"><%%VALUE(creado)%%></td>
		<td id="cantidad_insumo-id_compra-<%%VALUE(id)%%>" class="cantidad_insumo-id_compra"><%%VALUE(id_compra)%%></td>
