<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: ID -->
		<div class="form-group cantidad_articulo-id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(id)%%></div>
			</div>
		</div>
		<!-- Field: Id articulo -->
		<div class="form-group cantidad_articulo-id_articulo" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Id articulo</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="id_articulo<%%RND1%%>"><%%COMBOTEXT(id_articulo)%%></span></div>
			</div>
		</div>
		<!-- Field: Nombe articulo -->
		<div class="form-group cantidad_articulo-nombe_articulo" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Nombe articulo</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="nombe_articulo<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Cantidad -->
		<div class="form-group cantidad_articulo-cantidad" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Cantidad</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(cantidad)%%></div>
			</div>
		</div>
		<!-- Field: Id compra -->
		<div class="form-group cantidad_articulo-id_compra" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Id compra</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="id_compra<%%RND1%%>"><%%COMBOTEXT(id_compra)%%></span></div>
			</div>
		</div>
		<!-- Field: Creado -->
		<div class="form-group cantidad_articulo-creado" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Creado</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(creado)%%></div>
			</div>
		</div>
	</fieldset>
</div>
