<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the cantidad_articulo_init() hook (in hooks/cantidad_articulo.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="cantidad_articulo-id_articulo-<%%VALUE(id)%%>" class="cantidad_articulo-id_articulo"><%%VALUE(id_articulo)%%></td>
		<td id="cantidad_articulo-nombe_articulo-<%%VALUE(id)%%>" class="cantidad_articulo-nombe_articulo"><%%VALUE(nombe_articulo)%%></td>
		<td id="cantidad_articulo-cantidad-<%%VALUE(id)%%>" class="cantidad_articulo-cantidad"><%%VALUE(cantidad)%%></td>
		<td id="cantidad_articulo-id_compra-<%%VALUE(id)%%>" class="cantidad_articulo-id_compra"><%%VALUE(id_compra)%%></td>
