<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the codigoserial_init() hook (in hooks/codigoserial.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="codigoserial-codigo-<%%VALUE(id)%%>" class="codigoserial-codigo"><%%VALUE(codigo)%%></td>
		<td id="codigoserial-serial-<%%VALUE(id)%%>" class="codigoserial-serial"><%%VALUE(serial)%%></td>
		<td id="codigoserial-tipo_dispo-<%%VALUE(id)%%>" class="codigoserial-tipo_dispo"><%%VALUE(tipo_dispo)%%></td>
