<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the codigoserial_init() hook (in hooks/codigoserial.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="codigoserial-codigo-<%%VALUE(id)%%>" class="codigoserial-codigo"><%%SELECT%%><%%VALUE(codigo)%%><%%ENDSELECT%%></td>
		<td id="codigoserial-serial-<%%VALUE(id)%%>" class="codigoserial-serial"><%%SELECT%%><%%VALUE(serial)%%><%%ENDSELECT%%></td>
		<td id="codigoserial-tipo_dispo-<%%VALUE(id)%%>" class="codigoserial-tipo_dispo"><%%SELECT%%><%%VALUE(tipo_dispo)%%><%%ENDSELECT%%></td>
