<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: ID -->
		<div class="form-group compra-id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(id)%%></div>
			</div>
		</div>
		<!-- Field: Tipo compra -->
		<div class="form-group compra-tipo_compra" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Tipo compra</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(tipo_compra)%%></div>
			</div>
		</div>
		<!-- Field: Proveedor -->
		<div class="form-group compra-proveedor" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Proveedor</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(proveedor)%%></div>
			</div>
		</div>
		<!-- Field: Id articulos -->
		<div class="form-group compra-id_articulos" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Id articulos</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="id_articulos<%%RND1%%>"><%%COMBOTEXT(id_articulos)%%></span></div>
			</div>
		</div>
		<!-- Field: Id dispositivosbio -->
		<div class="form-group compra-id_dispositivosbio" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Id dispositivosbio</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="id_dispositivosbio<%%RND1%%>"><%%COMBOTEXT(id_dispositivosbio)%%></span></div>
			</div>
		</div>
	</fieldset>
</div>
