<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the compra_init() hook (in hooks/compra.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="compra-tipo_compra-<%%VALUE(id)%%>" class="compra-tipo_compra"><%%SELECT%%><%%VALUE(tipo_compra)%%><%%ENDSELECT%%></td>
		<td id="compra-proveedor-<%%VALUE(id)%%>" class="compra-proveedor"><%%SELECT%%><%%VALUE(proveedor)%%><%%ENDSELECT%%></td>
		<td id="compra-id_articulos-<%%VALUE(id)%%>" class="compra-id_articulos"><%%SELECT%%><%%VALUE(id_articulos)%%><%%ENDSELECT%%></td>
		<td id="compra-id_dispositivosbio-<%%VALUE(id)%%>" class="compra-id_dispositivosbio"><%%SELECT%%><%%VALUE(id_dispositivosbio)%%><%%ENDSELECT%%></td>
