<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the compra_init() hook (in hooks/compra.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="compra-tipo_compra-<%%VALUE(id)%%>" class="compra-tipo_compra"><%%VALUE(tipo_compra)%%></td>
		<td id="compra-proveedor-<%%VALUE(id)%%>" class="compra-proveedor"><%%VALUE(proveedor)%%></td>
		<td id="compra-id_articulos-<%%VALUE(id)%%>" class="compra-id_articulos"><%%VALUE(id_articulos)%%></td>
		<td id="compra-id_dispositivosbio-<%%VALUE(id)%%>" class="compra-id_dispositivosbio"><%%VALUE(id_dispositivosbio)%%></td>
