<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the compras_tipo_estado_init() hook (in hooks/compras_tipo_estado.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="compras_tipo_estado-tipo_estado_compra-<%%VALUE(id)%%>" class="compras_tipo_estado-tipo_estado_compra"><%%SELECT%%><%%VALUE(tipo_estado_compra)%%><%%ENDSELECT%%></td>
		<td id="compras_tipo_estado-descripcion-<%%VALUE(id)%%>" class="compras_tipo_estado-descripcion"><%%SELECT%%><%%VALUE(descripcion)%%><%%ENDSELECT%%></td>
