<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the contactos_grupos_init() hook (in hooks/contactos_grupos.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="contactos_grupos-grupo-<%%VALUE(id)%%>" class="contactos_grupos-grupo"><%%VALUE(grupo)%%></td>
		<td id="contactos_grupos-descripcion-<%%VALUE(id)%%>" class="contactos_grupos-descripcion"><%%VALUE(descripcion)%%></td>
