<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the fichatecnica_init() hook (in hooks/fichatecnica.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="fichatecnica-dispo_codigo-<%%VALUE(id)%%>" class="fichatecnica-dispo_codigo"><%%VALUE(dispo_codigo)%%></td>
		<td id="fichatecnica-dispo_serial-<%%VALUE(id)%%>" class="fichatecnica-dispo_serial"><%%VALUE(dispo_serial)%%></td>
		<td id="fichatecnica-hardware-<%%VALUE(id)%%>" class="fichatecnica-hardware"><%%VALUE(hardware)%%></td>
		<td id="fichatecnica-software-<%%VALUE(id)%%>" class="fichatecnica-software"><%%VALUE(software)%%></td>
		<td id="fichatecnica-enlace-<%%VALUE(id)%%>" class="fichatecnica-enlace"><a href="link.php?t=fichatecnica&f=enlace&i=<%%VALUE(id)%%>" target="_blank" title="<%%VALUE(enlace)%%>" class="btn btn-default"><i class="glyphicon glyphicon-globe text-info"></i></a></td>
		<td id="fichatecnica-carga-<%%VALUE(id)%%>" class="fichatecnica-carga"><a href="link.php?t=fichatecnica&f=carga&i=<%%VALUE(id)%%>" target="_blank"><%%VALUE(carga)%%></a></td>
		<td id="fichatecnica-fecha_carga-<%%VALUE(id)%%>" class="fichatecnica-fecha_carga"><%%VALUE(fecha_carga)%%></td>
		<td id="fichatecnica-creado-<%%VALUE(id)%%>" class="fichatecnica-creado"><%%VALUE(creado)%%></td>
		<td id="fichatecnica-editado-<%%VALUE(id)%%>" class="fichatecnica-editado"><%%VALUE(editado)%%></td>
		<script>$j(function(){
			var e_enlace = '<%%VALUE(enlace)%%>'; if(e_enlace == '' || e_enlace == '&nbsp;') $j(/*<*/ '#fichatecnica-enlace-<%%VALUE(id)%%>' /*>*/).html('');
			var e_carga = '<%%VALUE(carga)%%>'; if(e_carga == '' || e_carga == '&nbsp;') $j(/*<*/ '#fichatecnica-carga-<%%VALUE(id)%%>' /*>*/).html('');
		});</script>
