<!-- Edit this file to change the layout of the detail view form -->

<a name="detail-view"></a>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div class="panel-body" id="fichatecnica_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="fichatecnica_dv_form">
			<fieldset class="form-horizontal">

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="id" class="control-label col-lg-3">ID</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="id"><%%VALUE(id)%%></div>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="dispo_codigo" class="control-label col-lg-3" data-parent_link="view_parent_modal">Codigo<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(dispo_codigo)%%><%%PLINK(dispo_codigo)%%><%%ADDNEW(dispositivos)%%><span id="dispo_codigoLoading"></span></div>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="dispo_serial" class="control-label col-lg-3">Serial</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="dispo_serial"></div>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="hardware" class="control-label col-lg-3">Hardware <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#hardware-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="hardware-description"><div class="alert alert-info">Accesorios del dispositivo hardware</div></span>

						<%%HTMLAREA(hardware)%%>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="software" class="control-label col-lg-3">Software <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#software-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="software-description"><div class="alert alert-info">Programas software del dispositivo</div></span>

						<%%HTMLAREA(software)%%>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="enlace" class="control-label col-lg-3">Enlace <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#enlace-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="enlace-description"><div class="alert alert-info">(Opcional)</div></span>

						
						<div class="row">
							<div class="col-md-1">
								<a id="enlace-link" href="link.php?t=fichatecnica&f=enlace&i=<%%VALUE(id)%%>" target="_blank"><i class="glyphicon glyphicon-globe" title="<%%VALUE(enlace)%%>" style="font-size: x-large; top: .35em;"></i></a>
								<label for="enlace"><button type="button" id="enlace-edit-link" class="btn btn-default hspacer-lg vspacer-sm" data-toggle="collapse" data-target="#enlace" title="<%%TRANSLATION(Edit)%%>"><i class="glyphicon glyphicon-pencil"></i></button></label>
							</div> <!-- /div.col-* -->
							<script>jQuery(function() { /* */ var e_enlace = '<%%VALUE(enlace)%%>'; if(e_enlace == '' || e_enlace == '&nbsp;' || e_enlace == 'blank.gif') jQuery('#enlace-link').hide(); });</script><input maxlength="" type="text" class="form-control collapse" name="enlace" id="enlace" value="<%%VALUE(enlace)%%>">					</div>

					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Documento <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#carga-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="carga-description"><div class="alert alert-info">Maximum file size allowed: 5000 KB.<br>Allowed file types: doc, docx, pdf, jpg, jpge, bpm, png</div></span>

						
						<div class="row">
							<div class="col-md-8">
								<a id="carga-link" href="link.php?t=fichatecnica&f=carga&i=<%%VALUE(id)%%>" target="_blank"><%%VALUE(carga)%%></a>
							</div> <!-- /div.col-* -->
							<script>jQuery(function() { /* */ var e_carga = '<%%VALUE(carga)%%>'; if(e_carga == '' || e_carga == '&nbsp;' || e_carga == 'blank.gif') jQuery('#carga-link').hide(); });</script>						<div class="pull-right well upload-toolbox">
							<div class="hidden-md hidden-lg vspacer-lg"></div>
							<%%UPLOADFILE(carga)%%>
							<%%REMOVEFILE(carga)%%>
							<div class="text-bold text-danger file-type-error hidden">
								<%%TRANSLATION(invalid file type)%%>
							</div>
							<div class="text-bold text-danger file-size-error hidden">
								<%%TRANSLATION(file too large)%%>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>

					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="fecha_carga" class="control-label col-lg-3">Fecha de registro <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#fecha_carga-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="fecha_carga-description"><div class="alert alert-info">fecha de ultma verificacion</div></span>

						<div class="form-control-static" id="fecha_carga"><%%COMBOTEXT(fecha_carga)%%></div>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="creado" class="control-label col-lg-3">Creado</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="creado"><%%VALUE(creado)%%></div>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="creado_por" class="control-label col-lg-3">Creado por</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="creado_por"><%%VALUE(creado_por)%%></div>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="editado" class="control-label col-lg-3">Editado</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="editado"><%%VALUE(editado)%%></div>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="editado_por" class="control-label col-lg-3">Editado por</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="editado_por"><%%VALUE(editado_por)%%></div>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2" id="fichatecnica_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


</div><!-- /div class="panel-body" -->
	<script src="nicEdit.js"></script>
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}

			bkLib.onDomLoaded(function() {
				if($j('textarea#hardware').length) new nicEditor({ fullPanel : true }).panelInstance('hardware');
				if($j('textarea#software').length) new nicEditor({ fullPanel : true }).panelInstance('software');

				$j('.nicEdit-panelContain').parent().width('100%');
				$j('.nicEdit-panelContain').parent().next().width('98%');
				$j('.nicEdit-main').width('99%');
			});
			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			setTimeout(AppGini.focusFirstFormElement, 100);

			$j('form').eq(0).change(function() {
				if($j(this).data('already_changed')) return;
				if($j('#deselect').length) $j('#deselect').removeClass('btn-default').addClass('btn-warning').get(0).lastChild.data = " <%%TRANSLATION(Cancel)%%>";
				$j(this).data('already_changed', true);
			});

			// try to detect rich text changes by adding 'input' handler after nicedit is loaded ...
			AppGini.detectContentEditableChanges();

			$j('a[href="<%%TRANSLATION(ImageFolder)%%>"]').click(function() { /* */ return false; });


			if(!embedded_mode) {
				/* add a horizontal spacer to [add new parent] buttons that don't have a spacered element before them */
				$j('.add_new_parent').prev(':not(.hspacer-md)').next().addClass('hspacer-md');

				$j('.add_new_parent').click(function() {
					var pt = $j(this).attr('id').replace(/_add_new$/, '');
					modal_window({
						url: pt + '_view.php?addNew_x=1&Embedded=1',
						close: function() {
							var field_id = $j('#' + pt + '_add_new').prevAll('input:hidden').eq(0).attr('id');
							$j('#' + field_id + '-container').select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = localStorage.getItem(pt + '_last_added_id');
							if(new_id === null) return;

							localStorage.clear(pt + '_last_added_id');
							AppGini.lookupText({
								id: new_id,
								table: 'fichatecnica',
								field: field_id,
								callback: function(data) {
									$j('#' + field_id + '-container').select2('data', data, true);
								}
							});
						},
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				var pt = $j(this).attr('id').replace(/_view_parent$/, '');
				if($j(this).prevAll('input:hidden').length) {
					var parent_id = $j(this).prevAll('input:hidden').eq(0).val();
				}else{
					var parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				/* handle radio lookups */
				if($j(this).prevAll('[type=radio]').length) {
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id != undefined && parent_id != '') {
					var parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: pt + '_view.php?Embedded=1&SelectedID=' + encodeURIComponent(parent_id),
								close: function() {
									var field_id = $j('#' + pt + '_view_parent').prevAll('input:hidden').eq(0).attr('id');
									$j('#' + field_id + '-container').select2('focus').select2('focus');
								},
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = pt + '_view.php?Embedded=' + (embedded_mode ? '1' : '') + '&SelectedID=' + encodeURIComponent(parent_id);
							break;
						case 'view_parent_new_window':
							window.open(pt + '_view.php?SelectedID=' + encodeURIComponent(parent_id));
							break;
					}

				}
			});


			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=fichatecnica&id=<%%URLVALUE(id)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=fichatecnica&id=<%%URLVALUE(id)%%>');
					}
				);
			}

			/* warn user if 'add new' clicked while unsaved changes exist */
			$j('#addNew').click(function() {
				if($j('#deselect.btn-warning').length) {
					return confirm('<%%TRANSLATION(discard changes confirm)%%>');
				}
			});

		});
	</script>