<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the grupo_dispo_init() hook (in hooks/grupo_dispo.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="grupo_dispo-grupo_dispo-<%%VALUE(id_grupo_dispo)%%>" class="grupo_dispo-grupo_dispo"><%%SELECT%%><%%VALUE(grupo_dispo)%%><%%ENDSELECT%%></td>
		<td id="grupo_dispo-descripcion-<%%VALUE(id_grupo_dispo)%%>" class="grupo_dispo-descripcion"><%%SELECT%%><%%VALUE(descripcion)%%><%%ENDSELECT%%></td>
