<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: ID -->
		<div class="form-group imagenes-id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(id)%%></div>
			</div>
		</div>
		<!-- Field: Imagen -->
		<div class="form-group imagenes-imagen" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Imagen</label>
			<div class="col-xs-9">
				<div class="form-control-static">
<img src="<%%TRANSLATION(ImageFolder)%%><%%VALUE(imagen)%%>" class="img-responsive img-thumbnail">
</div>
			</div>
		</div>
		<!-- Field: Tipo dispo -->
		<div class="form-group imagenes-tipo_dispo" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Tipo dispo</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="tipo_dispo<%%RND1%%>"><%%COMBOTEXT(tipo_dispo)%%></span></div>
			</div>
		</div>
		<!-- Field: Marca -->
		<div class="form-group imagenes-marca" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Marca</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="marca<%%RND1%%>"><%%COMBOTEXT(marca)%%></span></div>
			</div>
		</div>
		<!-- Field: Modelo -->
		<div class="form-group imagenes-modelo" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Modelo</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="modelo<%%RND1%%>"><%%COMBOTEXT(modelo)%%></span></div>
			</div>
		</div>
		<!-- Field: Descripcion -->
		<div class="form-group imagenes-descripcion" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Descripcion</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(descripcion)%%></div>
			</div>
		</div>
	</fieldset>
</div>
