		<td colspan="5" class="row">
			<div class="col-md-3"><div id="imagenes-imagen-<%%VALUE(id)%%>" class="imagenes-imagen"><a href="<%%TRANSLATION(ImageFolder)%%><%%VALUE(imagen)%%>" data-lightbox="imagenes-imagen"><img src="thumbnail.php?i=<%%VALUE(imagen)%%>&t=imagenes&f=imagen&v=tv" class="img-thumbnail"></a></div></div>
			<div class="col-md-9">				<dl class="dl-horizontal">
					<dt class="imagenes-tipo_dispo-caption field-caption-tv">Tipo dispo</dt>
					<dd id="imagenes-tipo_dispo-<%%VALUE(id)%%>" class="imagenes-tipo_dispo"><%%SELECT%%><%%VALUE(tipo_dispo)%%><%%ENDSELECT%%></dd>

					<dt class="imagenes-marca-caption field-caption-tv">Marca</dt>
					<dd id="imagenes-marca-<%%VALUE(id)%%>" class="imagenes-marca"><%%SELECT%%><%%VALUE(marca)%%><%%ENDSELECT%%></dd>

					<dt class="imagenes-modelo-caption field-caption-tv">Modelo</dt>
					<dd id="imagenes-modelo-<%%VALUE(id)%%>" class="imagenes-modelo"><%%SELECT%%><%%VALUE(modelo)%%><%%ENDSELECT%%></dd>

					<dt class="imagenes-descripcion-caption field-caption-tv">Descripcion</dt>
					<dd id="imagenes-descripcion-<%%VALUE(id)%%>" class="imagenes-descripcion"><%%SELECT%%><%%VALUE(descripcion)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
		</td>
