<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: ID -->
		<div class="form-group insumos-id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(id)%%></div>
			</div>
		</div>
		<!-- Field: Tipo insumo -->
		<div class="form-group insumos-tipo_insumo" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Tipo insumo</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="tipo_insumo<%%RND1%%>"><%%COMBOTEXT(tipo_insumo)%%></span></div>
			</div>
		</div>
		<!-- Field: Marca -->
		<div class="form-group insumos-marca" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Marca</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="marca<%%RND1%%>"><%%COMBOTEXT(marca)%%></span></div>
			</div>
		</div>
		<!-- Field: Presentacion -->
		<div class="form-group insumos-presentacion" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Presentacion</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="presentacion<%%RND1%%>"><%%COMBOTEXT(presentacion)%%></span></div>
			</div>
		</div>
		<!-- Field: Nombre -->
		<div class="form-group insumos-nombre" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Nombre</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(nombre)%%></div>
			</div>
		</div>
		<!-- Field: Descripcion -->
		<div class="form-group insumos-descripcion" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Descripcion</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(descripcion)%%></div>
			</div>
		</div>
		<!-- Field: Creado -->
		<div class="form-group insumos-creado" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Creado</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(creado)%%></div>
			</div>
		</div>
		<!-- Field: Creado por -->
		<div class="form-group insumos-creado_por" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Creado por</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(creado_por)%%></div>
			</div>
		</div>
		<!-- Field: Id compra -->
		<div class="form-group insumos-id_compra" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Id compra</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="id_compra<%%RND1%%>"><%%COMBOTEXT(id_compra)%%></span></div>
			</div>
		</div>
		<!-- Field: Nombre unico -->
		<div class="form-group insumos-nombre_unico" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Nombre unico</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(nombre_unico)%%></div>
			</div>
		</div>
	</fieldset>
</div>
