<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the insumos_init() hook (in hooks/insumos.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="insumos-tipo_insumo-<%%VALUE(id)%%>" class="insumos-tipo_insumo"><%%VALUE(tipo_insumo)%%></td>
		<td id="insumos-marca-<%%VALUE(id)%%>" class="insumos-marca"><%%VALUE(marca)%%></td>
		<td id="insumos-presentacion-<%%VALUE(id)%%>" class="insumos-presentacion"><%%VALUE(presentacion)%%></td>
		<td id="insumos-nombre-<%%VALUE(id)%%>" class="insumos-nombre"><%%VALUE(nombre)%%></td>
		<td id="insumos-descripcion-<%%VALUE(id)%%>" class="insumos-descripcion"><%%VALUE(descripcion)%%></td>
		<td id="insumos-creado-<%%VALUE(id)%%>" class="insumos-creado"><%%VALUE(creado)%%></td>
		<td id="insumos-creado_por-<%%VALUE(id)%%>" class="insumos-creado_por"><%%VALUE(creado_por)%%></td>
		<td id="insumos-id_compra-<%%VALUE(id)%%>" class="insumos-id_compra"><%%VALUE(id_compra)%%></td>
		<td id="insumos-nombre_unico-<%%VALUE(id)%%>" class="insumos-nombre_unico"><%%VALUE(nombre_unico)%%></td>
