<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the insumos_init() hook (in hooks/insumos.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="insumos-tipo_insumo-<%%VALUE(id)%%>" class="insumos-tipo_insumo"><%%SELECT%%><%%VALUE(tipo_insumo)%%><%%ENDSELECT%%></td>
		<td id="insumos-marca-<%%VALUE(id)%%>" class="insumos-marca"><%%SELECT%%><%%VALUE(marca)%%><%%ENDSELECT%%></td>
		<td id="insumos-presentacion-<%%VALUE(id)%%>" class="insumos-presentacion"><%%SELECT%%><%%VALUE(presentacion)%%><%%ENDSELECT%%></td>
		<td id="insumos-nombre-<%%VALUE(id)%%>" class="insumos-nombre"><%%SELECT%%><%%VALUE(nombre)%%><%%ENDSELECT%%></td>
		<td id="insumos-descripcion-<%%VALUE(id)%%>" class="insumos-descripcion"><%%SELECT%%><%%VALUE(descripcion)%%><%%ENDSELECT%%></td>
		<td id="insumos-creado-<%%VALUE(id)%%>" class="insumos-creado"><%%SELECT%%><%%VALUE(creado)%%><%%ENDSELECT%%></td>
		<td id="insumos-creado_por-<%%VALUE(id)%%>" class="insumos-creado_por"><%%SELECT%%><%%VALUE(creado_por)%%><%%ENDSELECT%%></td>
		<td id="insumos-id_compra-<%%VALUE(id)%%>" class="insumos-id_compra"><%%SELECT%%><%%VALUE(id_compra)%%><%%ENDSELECT%%></td>
		<td id="insumos-nombre_unico-<%%VALUE(id)%%>" class="insumos-nombre_unico"><%%SELECT%%><%%VALUE(nombre_unico)%%><%%ENDSELECT%%></td>
