<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the marcamodelo_init() hook (in hooks/marcamodelo.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="marcamodelo-marca-<%%VALUE(id_mmodelo)%%>" class="marcamodelo-marca"><%%SELECT%%><%%VALUE(marca)%%><%%ENDSELECT%%></td>
		<td id="marcamodelo-modelo-<%%VALUE(id_mmodelo)%%>" class="marcamodelo-modelo"><%%SELECT%%><%%VALUE(modelo)%%><%%ENDSELECT%%></td>
