<!-- To change the layout of the detail view form, we recommend using JS code in hooks/marca_modelo-dv.js rather than editing this file -->

<div id="detail-view"></div>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div id="marca_modelo_dv_container-loading" class="text-center text-info text-bold vspacer-lg"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>

<div class="panel-body hidden" id="marca_modelo_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12 children-links">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm vspacer-sm" href="dispositivos_view.php?filterer_modelo=<%%URLVALUE(id_mmodelo)%%>&<%%EMBEDDED%%>" id="dispositivos_link"><i class="glyphicon glyphicon-list-alt"></i> Dispositivos Biomedicos</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="dispositivos_view.php?filterer_modelo=<%%URLVALUE(id_mmodelo)%%>&<%%EMBEDDED%%>" id="xs_dispositivos_link"><i class="glyphicon glyphicon-list-alt"></i> Dispositivos Biomedicos</a>
			<input type="hidden" id="dispositivos_hclink" value="dispositivos_view.php?filterer_modelo=<%%URLVALUE(id_mmodelo)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="docu_modelo_hclink" value="docu_modelo_view.php?filterer_modelo=<%%URLVALUE(id_mmodelo)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="compra_dispo_hclink" value="compra_dispo_view.php?filterer_modelo=<%%URLVALUE(id_mmodelo)%%>&<%%EMBEDDED%%>">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm vspacer-sm" href="articulos_view.php?filterer_modelo=<%%URLVALUE(id_mmodelo)%%>&<%%EMBEDDED%%>" id="articulos_link"><i class="glyphicon glyphicon-list-alt"></i> Articulos</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="articulos_view.php?filterer_modelo=<%%URLVALUE(id_mmodelo)%%>&<%%EMBEDDED%%>" id="xs_articulos_link"><i class="glyphicon glyphicon-list-alt"></i> Articulos</a>
			<input type="hidden" id="articulos_hclink" value="articulos_view.php?filterer_modelo=<%%URLVALUE(id_mmodelo)%%>&<%%EMBEDDED%%>">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="marca_modelo_dv_form">
			<fieldset class="form-horizontal">

				<!-- Field: ID -->
				<div class="form-group marca_modelo-id_mmodelo">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="id_mmodelo">ID</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="id_mmodelo"><%%VALUE(id_mmodelo)%%></div>
					</div>
				</div>

				<!-- Field: Marca -->
				<div class="form-group marca_modelo-marca">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="marca" data-parent_link="view_parent_modal">Marca<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(marca)%%><%%PLINK(marca)%%><%%ADDNEW(marcas)%%></div>
					</div>
				</div>

				<!-- Field: Modelo -->
				<div class="form-group marca_modelo-modelo">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="modelo">Modelo<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="modelo" id="modelo" value="<%%VALUE(modelo)%%>" required><div class="text-danger vspacer-md" id="modelo-uniqueness-note" style="display: none;"><%%TRANSLATION(unique field error)%%></div>
					</div>
				</div>

				<!-- Field: Imagen -->
				<div class="form-group marca_modelo-img">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Imagen<span class="text-danger"><%%TRANSLATION(*)%%></span> <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#img-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="img-description"><div class="alert alert-info bspacer-xs">Maximum file size allowed: 1800 KB.<br>Allowed file types: jpg, jpeg, gif, png</div></span>
						<div class="form-control-static well well-sm">
							<div class="pull-left"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(img)%%>" data-lightbox="marca_modelo_dv"><img src="thumbnail.php?i=<%%VALUE(img)%%>&t=marca_modelo&f=img&v=dv" class="img-thumbnail" id="img-image"></a></div>
							<div class="pull-right well upload-toolbox">
								<div class="hidden-md hidden-lg vspacer-lg"></div>
								<%%UPLOADFILE(img)%%>
								<div class="text-bold text-danger file-type-error hidden"><%%TRANSLATION(invalid file type)%%></div>
								<div class="text-bold text-danger file-size-error hidden"><%%TRANSLATION(file too large)%%></div>
							</div>
							<div class="clearfix"></div>
						</div>
						<script>/* disable links to empty images */ $j(function() { var e_img = '<%%VALUE(img)%%>'; if(e_img == '' || e_img == '&nbsp;' || e_img == 'blank.gif') { $j('#img-link').hide(); $j('#img-image').parents('a').attr('href', '').on('click', function(e) { e.preventDefault(); }); } });</script>
					</div>
				</div>

				<!-- Field: Fabricante -->
				<div class="form-group marca_modelo-fabricante">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="fabricante">Fabricante</label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="fabricante" id="fabricante" value="<%%VALUE(fabricante)%%>">
					</div>
				</div>

				<!-- Field: Descripcion -->
				<div class="form-group marca_modelo-descripcion">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="descripcion">Descripcion</label>
					<div class="col-lg-9 has-nicedit">
						<%%HTMLAREA(descripcion)%%>
					</div>
				</div>

				<!-- Field: Creado -->
				<div class="form-group marca_modelo-creado">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Creado</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="creado"><%%VALUE(creado)%%></div>
					</div>
				</div>

				<!-- Field: Creado por -->
				<div class="form-group marca_modelo-creado_por">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Creado por</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="creado_por"><%%VALUE(creado_por)%%></div>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2" id="marca_modelo_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


	<!-- child records -->
	<hr>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div id="marca_modelo-children" class="children-tabs">
				<div class="text-center"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>
			</div>
		</div>
	</div>

</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}

			AppGini.once({
				condition: function() { return bkLib != undefined; },
				action: function() {
					if($j('textarea#descripcion').length) new nicEditor({ fullPanel : true }).panelInstance('descripcion');
				}
			});

			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			if(!$j('.table_view').length || $j('[name=SelectedID]').val().length) {
				AppGini.once({
					condition: function() {
						return $j('.form-group.marca_modelo-marca')
									.find('.nicEdit-main, .select2-container, input[type=radio]')
									.length > 0;
					},
					action: function() {
						$j('#marca_modelo_dv_container-loading').addClass('hidden');
						$j('#marca_modelo_dv_container').removeClass('hidden');
						AppGini.focusFormElement('marca_modelo', 'marca');
					},
					timeout:  5000,
					doActionOnTimeout:  true
				});
			} else {
				$j('#marca_modelo_dv_container-loading').addClass('hidden');
				$j('#marca_modelo_dv_container').removeClass('hidden');
			}

			$j('form').eq(0).change(function() {
				if($j(this).data('already_changed')) return;
				if($j('#deselect').length) $j('#deselect').removeClass('btn-default').addClass('btn-warning').get(0).lastChild.data = " <%%TRANSLATION(Cancel)%%>";
				$j(this).data('already_changed', true);
			});

			// try to detect rich text changes by adding 'input' handler after nicedit is loaded ...
			AppGini.detectContentEditableChanges();

			$j('a[href="<%%BASE_UPLOAD_PATH%%>"]').click(function() { return false; });

			if(embedded_mode) {
				/* hide links to children tables in embedded mode */
				$j('.detail_view a[id$=_link]').remove();

				/* append embedded mode to all links */
				var append_embedded = function() {
					$j('a[href]:not([href^="#"]):not([href^="javascript"]):not([href$="Embedded=1"]):not([href*="link.php?t="]):not([href^="mailto:"])').each(
						function() {
							$j(this).attr('href', $j(this).attr('href') + '&Embedded=1');
						}
					);
				}
				setTimeout(append_embedded, 500);
				setTimeout(append_embedded, 1500);
				setTimeout(append_embedded, 2500);
				setTimeout(append_embedded, 3500);
			}

			/* when no record is selected ('add new' mode) */
			if(add_new_mode) {
				/* hide links to children tables */
				$j('.detail_view a[id$=_link]').remove();
			} else {
				post(
					'parent-children.php', {
						ParentTable: 'marca_modelo',
						SelectedID: '<%%VALUE(id_mmodelo)%%>',
						Operation: 'show-children'
					},
					'marca_modelo-children'
				);
			}

			if(true /* !embedded_mode */) {
				/* add a horizontal spacer to [add new parent] buttons that don't have a spacered element before them */
				$j('.add_new_parent').prev(':not(.hspacer-md)').next().addClass('hspacer-md');

				$j('.add_new_parent').click(function() {
					var pt = $j(this).attr('id').replace(/_add_new$/, '');
					modal_window({
						url: pt + '_view.php?addNew_x=1&Embedded=1',
						close: function() {
							var field_id = $j('#' + pt + '_add_new').prevAll('input:hidden').eq(0).attr('id');
							$j('#' + field_id + '-container').select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = localStorage.getItem(pt + '_last_added_id');
							if(new_id === null) return;

							localStorage.removeItem(pt + '_last_added_id');
							AppGini.lookupText({
								id: new_id,
								table: 'marca_modelo',
								field: field_id,
								callback: function(data) {
									$j('#' + field_id + '-container').select2('data', data, true);
								}
							});
						},
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				var pt = $j(this).attr('id').replace(/_view_parent$/, '');
				if($j(this).prevAll('input:hidden').length) {
					var parent_id = $j(this).prevAll('input:hidden').eq(0).val();
				} else {
					var parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				/* handle radio lookups */
				if($j(this).prevAll('[type=radio]').length) {
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id != undefined && parent_id != '') {
					var parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: pt + '_view.php?Embedded=1&SelectedID=' + encodeURIComponent(parent_id),
								close: function() {
									var field_id = $j('#' + pt + '_view_parent').prevAll('input:hidden').eq(0).attr('id');
									$j('#' + field_id + '-container').select2('focus').select2('focus');
								},
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = pt + '_view.php?Embedded=' + (embedded_mode ? '1' : '') + '&SelectedID=' + encodeURIComponent(parent_id);
							break;
						case 'view_parent_new_window':
							window.open(pt + '_view.php?SelectedID=' + encodeURIComponent(parent_id));
							break;
					}

				}
			});

			enforce_uniqueness('marca_modelo', 'modelo');

			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=marca_modelo&id=<%%URLVALUE(id_mmodelo)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=marca_modelo&id=<%%URLVALUE(id_mmodelo)%%>');
					}
				);
			}

			/* warn user if 'add new' clicked while unsaved changes exist */
			$j('#addNew').click(function() {
				if($j('#deselect.btn-warning').length) {
					return confirm('<%%TRANSLATION(discard changes confirm)%%>');
				}
			});

		});
	</script>