<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the marca_presetacion_init() hook (in hooks/marca_presetacion.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="marca_presetacion-marca-<%%VALUE(id)%%>" class="marca_presetacion-marca"><%%SELECT%%><%%VALUE(marca)%%><%%ENDSELECT%%></td>
		<td id="marca_presetacion-unidad_medida-<%%VALUE(id)%%>" class="marca_presetacion-unidad_medida"><%%SELECT%%><%%VALUE(unidad_medida)%%><%%ENDSELECT%%></td>
		<td id="marca_presetacion-presentacion-<%%VALUE(id)%%>" class="marca_presetacion-presentacion"><%%SELECT%%><%%VALUE(presentacion)%%><%%ENDSELECT%%></td>
