<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the mobiliario_init() hook (in hooks/mobiliario.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="mobiliario-codigo-<%%VALUE(id_mobiliario)%%>" class="mobiliario-codigo"><%%VALUE(codigo)%%></td>
		<td id="mobiliario-nombre-<%%VALUE(id_mobiliario)%%>" class="mobiliario-nombre"><%%VALUE(nombre)%%></td>
		<td id="mobiliario-grupo-<%%VALUE(id_mobiliario)%%>" class="mobiliario-grupo"><%%VALUE(grupo)%%></td>
		<td id="mobiliario-tipo_mobiliario-<%%VALUE(id_mobiliario)%%>" class="mobiliario-tipo_mobiliario"><%%VALUE(tipo_mobiliario)%%></td>
		<td id="mobiliario-descripcion-<%%VALUE(id_mobiliario)%%>" class="mobiliario-descripcion"><%%VALUE(descripcion)%%></td>
		<td id="mobiliario-fecha_ingreso-<%%VALUE(id_mobiliario)%%>" class="mobiliario-fecha_ingreso"><%%VALUE(fecha_ingreso)%%></td>
		<td id="mobiliario-accesorios-<%%VALUE(id_mobiliario)%%>" class="mobiliario-accesorios"><%%VALUE(accesorios)%%></td>
		<td id="mobiliario-foto-<%%VALUE(id_mobiliario)%%>" class="mobiliario-foto"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(foto)%%>" data-lightbox="mobiliario-foto"><img src="thumbnail.php?i=<%%VALUE(foto)%%>&t=mobiliario&f=foto&v=tv" class="img-thumbnail"></a></td>
		<td id="mobiliario-unidad-<%%VALUE(id_mobiliario)%%>" class="mobiliario-unidad"><%%VALUE(unidad)%%></td>
		<td id="mobiliario-uni_abreviado-<%%VALUE(id_mobiliario)%%>" class="mobiliario-uni_abreviado"><%%VALUE(uni_abreviado)%%></td>
