<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the mobiliario_init() hook (in hooks/mobiliario.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="mobiliario-codigo-<%%VALUE(id_mobiliario)%%>" class="mobiliario-codigo"><%%SELECT%%><%%VALUE(codigo)%%><%%ENDSELECT%%></td>
		<td id="mobiliario-nombre-<%%VALUE(id_mobiliario)%%>" class="mobiliario-nombre"><%%SELECT%%><%%VALUE(nombre)%%><%%ENDSELECT%%></td>
		<td id="mobiliario-grupo-<%%VALUE(id_mobiliario)%%>" class="mobiliario-grupo"><%%SELECT%%><%%VALUE(grupo)%%><%%ENDSELECT%%></td>
		<td id="mobiliario-tipo_mobiliario-<%%VALUE(id_mobiliario)%%>" class="mobiliario-tipo_mobiliario"><%%SELECT%%><%%VALUE(tipo_mobiliario)%%><%%ENDSELECT%%></td>
		<td id="mobiliario-descripcion-<%%VALUE(id_mobiliario)%%>" class="mobiliario-descripcion"><%%SELECT%%><%%VALUE(descripcion)%%><%%ENDSELECT%%></td>
		<td id="mobiliario-fecha_ingreso-<%%VALUE(id_mobiliario)%%>" class="mobiliario-fecha_ingreso"><%%SELECT%%><%%VALUE(fecha_ingreso)%%><%%ENDSELECT%%></td>
		<td id="mobiliario-accesorios-<%%VALUE(id_mobiliario)%%>" class="mobiliario-accesorios"><%%SELECT%%><%%VALUE(accesorios)%%><%%ENDSELECT%%></td>
		<td id="mobiliario-foto-<%%VALUE(id_mobiliario)%%>" class="mobiliario-foto"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(foto)%%>" data-lightbox="mobiliario-foto"><img src="thumbnail.php?i=<%%VALUE(foto)%%>&t=mobiliario&f=foto&v=tv" class="img-thumbnail"></a></td>
		<td id="mobiliario-unidad-<%%VALUE(id_mobiliario)%%>" class="mobiliario-unidad"><%%SELECT%%><%%VALUE(unidad)%%><%%ENDSELECT%%></td>
		<td id="mobiliario-uni_abreviado-<%%VALUE(id_mobiliario)%%>" class="mobiliario-uni_abreviado"><%%SELECT%%><%%VALUE(uni_abreviado)%%><%%ENDSELECT%%></td>
