<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the seguimiento_init() hook (in hooks/seguimiento.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="seguimiento-id_observacion-<%%VALUE(id)%%>" class="seguimiento-id_observacion"><%%SELECT%%><%%VALUE(id_observacion)%%><%%ENDSELECT%%></td>
		<td id="seguimiento-estado_seguimiento-<%%VALUE(id)%%>" class="seguimiento-estado_seguimiento"><%%SELECT%%><%%VALUE(estado_seguimiento)%%><%%ENDSELECT%%></td>
		<td id="seguimiento-descripcion-<%%VALUE(id)%%>" class="seguimiento-descripcion"><%%SELECT%%><%%VALUE(descripcion)%%><%%ENDSELECT%%></td>
		<td id="seguimiento-credo-<%%VALUE(id)%%>" class="seguimiento-credo"><%%SELECT%%><%%VALUE(credo)%%><%%ENDSELECT%%></td>
