<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the seguimiento_init() hook (in hooks/seguimiento.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="seguimiento-id_observacion-<%%VALUE(id)%%>" class="seguimiento-id_observacion"><%%VALUE(id_observacion)%%></td>
		<td id="seguimiento-estado_seguimiento-<%%VALUE(id)%%>" class="seguimiento-estado_seguimiento"><%%VALUE(estado_seguimiento)%%></td>
		<td id="seguimiento-descripcion-<%%VALUE(id)%%>" class="seguimiento-descripcion"><%%VALUE(descripcion)%%></td>
		<td id="seguimiento-credo-<%%VALUE(id)%%>" class="seguimiento-credo"><%%VALUE(credo)%%></td>
