<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: ID -->
		<div class="form-group seguimiento-id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(id)%%></div>
			</div>
		</div>
		<!-- Field: Id observacion -->
		<div class="form-group seguimiento-id_observacion" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Id observacion</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="id_observacion<%%RND1%%>"><%%COMBOTEXT(id_observacion)%%></span></div>
			</div>
		</div>
		<!-- Field: Estado seguimiento -->
		<div class="form-group seguimiento-estado_seguimiento" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Estado seguimiento</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="estado_seguimiento<%%RND1%%>"><%%COMBOTEXT(estado_seguimiento)%%></span></div>
			</div>
		</div>
		<!-- Field: Descripcion -->
		<div class="form-group seguimiento-descripcion" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Descripcion</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(descripcion)%%></div>
			</div>
		</div>
		<!-- Field: Credo -->
		<div class="form-group seguimiento-credo" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Credo</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(credo)%%></div>
			</div>
		</div>
		<!-- Field: Creado por -->
		<div class="form-group seguimiento-creado_por" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Creado por</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(creado_por)%%></div>
			</div>
		</div>
	</fieldset>
</div>
