<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the tipo_articulo_init() hook (in hooks/tipo_articulo.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="tipo_articulo-tipo_articulo-<%%VALUE(id)%%>" class="tipo_articulo-tipo_articulo"><%%SELECT%%><%%VALUE(tipo_articulo)%%><%%ENDSELECT%%></td>
		<td id="tipo_articulo-descripcion-<%%VALUE(id)%%>" class="tipo_articulo-descripcion"><%%SELECT%%><%%VALUE(descripcion)%%><%%ENDSELECT%%></td>
