<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the tipo_prefijo_init() hook (in hooks/tipo_prefijo.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="tipo_prefijo-tipo_dispo-<%%VALUE(id)%%>" class="tipo_prefijo-tipo_dispo"><%%VALUE(tipo_dispo)%%></td>
		<td id="tipo_prefijo-prefijo-<%%VALUE(id)%%>" class="tipo_prefijo-prefijo"><%%VALUE(prefijo)%%></td>
