<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the tipo_dispositivo_grupo_init() hook (in hooks/tipo_dispositivo_grupo.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="tipo_dispositivo_grupo-grupo-<%%VALUE(id)%%>" class="tipo_dispositivo_grupo-grupo"><%%SELECT%%><%%VALUE(grupo)%%><%%ENDSELECT%%></td>
		<td id="tipo_dispositivo_grupo-descripcion-<%%VALUE(id)%%>" class="tipo_dispositivo_grupo-descripcion"><%%SELECT%%><%%VALUE(descripcion)%%><%%ENDSELECT%%></td>
