<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the tipo_prefijo_init() hook (in hooks/tipo_prefijo.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="tipo_prefijo-tipo_dispo-<%%VALUE(id)%%>" class="tipo_prefijo-tipo_dispo"><%%SELECT%%><%%VALUE(tipo_dispo)%%><%%ENDSELECT%%></td>
		<td id="tipo_prefijo-prefijo-<%%VALUE(id)%%>" class="tipo_prefijo-prefijo"><%%SELECT%%><%%VALUE(prefijo)%%><%%ENDSELECT%%></td>
