<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the tipo_contacto_init() hook (in hooks/tipo_contacto.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="tipo_contacto-tipo_contacto-<%%VALUE(id_tipo_contacto)%%>" class="tipo_contacto-tipo_contacto"><%%SELECT%%><%%VALUE(tipo_contacto)%%><%%ENDSELECT%%></td>
		<td id="tipo_contacto-descripcion-<%%VALUE(id_tipo_contacto)%%>" class="tipo_contacto-descripcion"><%%SELECT%%><%%VALUE(descripcion)%%><%%ENDSELECT%%></td>
