<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the ubicacion_aurticulo_init() hook (in hooks/ubicacion_aurticulo.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="ubicacion_aurticulo-ubicacion-<%%VALUE(id)%%>" class="ubicacion_aurticulo-ubicacion"><%%VALUE(ubicacion)%%></td>
		<td id="ubicacion_aurticulo-creado-<%%VALUE(id)%%>" class="ubicacion_aurticulo-creado"><%%VALUE(creado)%%></td>
