<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the ubicacion_articulo_init() hook (in hooks/ubicacion_articulo.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="ubicacion_articulo-id_articulo-<%%VALUE(id)%%>" class="ubicacion_articulo-id_articulo"><%%VALUE(id_articulo)%%></td>
		<td id="ubicacion_articulo-ubicacion-<%%VALUE(id)%%>" class="ubicacion_articulo-ubicacion"><%%VALUE(ubicacion)%%></td>
		<td id="ubicacion_articulo-creado-<%%VALUE(id)%%>" class="ubicacion_articulo-creado"><%%VALUE(creado)%%></td>
