<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the ubicacion_mobiliario_init() hook (in hooks/ubicacion_mobiliario.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="ubicacion_mobiliario-ubicacion-<%%VALUE(id)%%>" class="ubicacion_mobiliario-ubicacion"><%%SELECT%%><%%VALUE(ubicacion)%%><%%ENDSELECT%%></td>
		<td id="ubicacion_mobiliario-creado-<%%VALUE(id)%%>" class="ubicacion_mobiliario-creado"><%%SELECT%%><%%VALUE(creado)%%><%%ENDSELECT%%></td>
		<td id="ubicacion_mobiliario-creado_por-<%%VALUE(id)%%>" class="ubicacion_mobiliario-creado_por"><%%SELECT%%><%%VALUE(creado_por)%%><%%ENDSELECT%%></td>
