<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: Id mobiliario -->
		<div class="form-group ubicacion_mobiliario-id_mobiliario" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Id mobiliario</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="id_mobiliario<%%RND1%%>"><%%COMBOTEXT(id_mobiliario)%%></span></div>
			</div>
		</div>
		<!-- Field: Ubicacion -->
		<div class="form-group ubicacion_mobiliario-ubicacion" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Ubicacion</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="ubicacion<%%RND1%%>"><%%COMBOTEXT(ubicacion)%%></span></div>
			</div>
		</div>
		<!-- Field: Creado -->
		<div class="form-group ubicacion_mobiliario-creado" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Creado</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(creado)%%></div>
			</div>
		</div>
		<!-- Field: Creado por -->
		<div class="form-group ubicacion_mobiliario-creado_por" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Creado por</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(creado_por)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
